.card {
    margin : 30px auto;
    display : flex;
}
.card img {
    width : 150px;
    margin-right : 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
    display: flex;
    padding: 10px;
    align-items: center;
    font-family : 'Montserrat';
}
.nav a {
    margin-right: 10px;
    text-decoration : none;
    font-weight : 400;
    letter-spacing : -0.5px;
    color: black;
}

.nav .logo {
    font-weight : 800;
}

input, button {
    padding : 8px 13px;
    margin-top : 5px;
    border : 1px solid grey;
    border-radius : 4px;
    vertical-align : middle;
}
button {
    background : black;
    color : white;
    border : none;
}
input {
    display : block;
}

.detail {
    text-align : center;
}
.detail img{
    max-width : 30%;
    display : block;
    margin : auto;
}

.page {
    margin: 10px;
    border: 1px solid black;
    padding: 3px 10px;
    text-decoration: none;
    background: skyblue;
    font-size: 20px;
    color: white;
}

.buyItemDiv {
    display: flex;
    justify-content: center;
}

.linkTag {
    text-decoration: none;
    color: white;
}

.searchForm {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.searchForm span {
    margin: auto 0;
}

.searchForm button {
    margin: 0;
}

.commentDiv {
    width: 100%;
    display: flow-root;
}

.commentDiv p {
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.commentInputDiv {
    display: flex;
}

.commentInputDiv input {
    width: 85%;
    height: 50px;
}

.commentInputDiv button {
    flex-grow: 1;
    margin: 5px 0 0 10px;
    font-size: 16px;
}

.writeFormDiv {
    display: flow-root;
}

.writeFormDiv button {
    width: 15%;
    height: 50px;
    float: right;
    margin-right: 30px;
}

.writeDiv {
    display: flex;
    align-items: center;
}

.writeDiv h4 {
    margin-left: 30px;
    width: 15%;
}

.writeDiv input, .writeDiv img {
    margin: 10px 30px;
    flex-grow: 1;
}