<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
    <script layout:fragment="script" type="text/javascript" src="/lib/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    <div th:replace="~{ nav.html::navbar }"></div>
    <div class="">
        <h4>회원가입 페이지</h4>
        <form action="/signUp" method="POST" onsubmit="return validForm();">
            <div class="writeFormDiv">
                <div class="writeDiv">
                    <h4> 아이디 </h4>
                    <input type="text" name="username">
                </div>
                <div class="writeDiv">
                    <h4> 비밀번호 </h4>
                    <input type="password" name="password">
                </div>
                <div class="writeDiv">
                    <h4> 닉네임 </h4>
                    <input type="text" name="displayName">
                </div>
                <button type="button" onclick="formSubmit();"> 회원가입 </button>
            </div>
        </form>
    </div>
</div>

<script>

    function formSubmit() {
        let form = document.querySelector('form');

        if (validForm()) {
            form.submit();
        }
    }

    function validForm() {
        let id = $("input[name=username]").val();
        let pw = $("input[name=password]").val();
        let nickname = $("input[name=displayName]").val();
        let blank = /^\s+|\s+$/g;

        if (!confirm("회원가입을 진행하시겠습니까?")) return false;

        if (id.replace(blank, '') == "" || pw.replace(blank, '') == "" || nickname.replace(black, '')) {
            alert("작성하신 내용에 공백이 있는지 확인 해 주십시오.")
            return false;
        }

        return true;
    }
</script>

</body>
</html>